<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Irrigation System</title>
    <!-- Load Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200" style="background-image: url('/static/background.jpg'); background-size: cover; background-position: center;">
    <div class="container mx-auto p-8">
        <div class="max-w-md mx-auto bg-yellow-50 rounded-lg overflow-hidden shadow-lg">
            <div class="p-6">
                <h2 class="text-3xl text-center font-semibold mb-4">AI Irrigation System</h2>
                <form id="inputForm">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="temperature">Temperature (°C)</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="temperature" type="number" placeholder="Enter temperature">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="humidity">Humidity (%)</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="humidity" type="number" placeholder="Enter humidity">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="precipitation">Precipitation (mm)</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="precipitation" type="number" placeholder="Enter precipitation">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="soil_moisture">Soil Moisture (%)</label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="soil_moisture" type="number" placeholder="Enter soil moisture">
                    </div>
                    <!-- <div class="text-center">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Predict</button>
                    </div> -->
                    <div class="text-center">
                        <button type="submit" class="rounded-md px-3.5 py-2 m-1 overflow-hidden relative group cursor-pointer border-2 font-medium border-lime-800 text-lime-400 text-lime-800">
                            <span class="absolute w-64 h-0 transition-all duration-300 origin-center rotate-45 -translate-x-20 bg-lime-400 top-1/2 group-hover:h-64 group-hover:-translate-y-32 ease"></span>
                            <span class="relative text-lime-600 transition duration-300 group-hover:text-lime-800 ease">Predict</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
